.main-title{
  text-align: center;
  margin: 1em;
  font-size: 2em;
  font-weight: bold;
}

.card{
  margin: 0.5em;
  width: 16rem;
  height: 22rem;
}

.card img{
  width: 100%;
  height: 9rem;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-area{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-card-area{
  width: 100%;
  display: flex;
  justify-content: space-between;
}